$fontColor: #3d3c3c;
$mainFont: sans-serif;
$mainColor: #f7f3ec;
$H1: 3.052rem;
$H2: 2rem;
$H3: 1.563rem;
$B: 1rem;
$D: 0.70rem;
//$mainColor: #f6e4e4;
$SecColor: #dc97eb;
$ThirdColor: #fab49f;
$QuadColor: #4b8585;


html {
    font-family: $mainFont;
    background-color: $mainColor;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  *{
    color: $fontColor;
  }

  .H1{
    font-size: $H1;
    font-weight: bold;
  }
  .H2{
    font-size: $H2;
    font-weight: bold;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
  }
  .B{
    font-size: $B;
  }
  .D{
    font-size: $D;
    text-transform: uppercase;
  }
