.content{
    padding-top: 3rem;
    line-height: 1.7;

}
.link{
    text-decoration: none;    
    font-weight: bold;
    p{
        margin-top: 3rem;

    }

}
.link:hover {
    color: rgb(104, 104, 104);

}
.description{
    text-align: justify;
}