.link {
    color: #8b8b8b;
    text-decoration: none;
}

.link:hover{
    color: #201997;

}

.activeNavItem{
    color: #727272;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.3rem;
    margin: 1rem;
}

.name{
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}
.hamburger{
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    font-size: larger;
}


