.hero{
    max-width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 3rem;
    .pb{
        flex: 1;
        height: 50vh;
    }
    .text{
        flex: 1;
        padding-right: 2rem;     
    }
}

.title {
    font-weight: bold;
    font-size: 4rem;
}
.undertext{
    line-height: 1.6;
    font-size: 1.5rem;
}
@media screen and (max-width: 450px) {
    .hero{
      flex-direction: column-reverse;
    }
    .pb{
        height: 30vh;
        margin-bottom: 1rem;
    }
    .title {
        font-weight: bold;
        font-size: 3rem;
    }
    .undertext{
        line-height: 1.6;
        font-size: 1.2rem;
    }

}
