.hero{
    max-width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    *{
        padding: 1rem;
    }
    padding-top: 3rem;
}
.pb{
    width: 50vw;
    height: 50vw;
}
.text{
    padding-top: 5rem;
}